 <!-- navbar -->
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue darken-3 ">
        <a href="#!" class="brand-logo"><i class="material-icons">polymer</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light btn href="#" style="color: black; background-color: #2196f3">Home Page</a></li>
          <li><a class="waves-effect waves-light btn href="contact.html" style="color: black; background-color: #2196f3">Contact</a></li>
          <li><a class="waves-effect waves-light btn href="about.html" style="color: black; background-color: #2196f3">About</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  <!--end of navbar -->
<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :wistiaid %><br>
    <%= f.text_field :wistiaid %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
