<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <strong>Wistiaid:</strong>
  <%= @video.wistiaid %>
</p>

<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_embed wistia_async_<%= @video.wistiaid %>" style="height:366px;width:600px">&nbsp;</div>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
