 <!-- navbar -->
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue darken-3 ">
        <a href="#!" class="brand-logo"><i class="material-icons">polymer</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light btn href="#" style="color: black; background-color: #2196f3">Home Page</a></li>
          <li><a class="waves-effect waves-light btn href="contact.html" style="color: black; background-color: #2196f3">Contact</a></li>
          <li><a class="waves-effect waves-light btn href="about.html" style="color: black; background-color: #2196f3">About</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  <!--end of navbar -->
<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <strong>Wistiaid:</strong>
  <%= @video.wistiaid %>
</p>

<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_embed wistia_async_<%= @video.wistiaid %>" style="height:366px;width:600px">&nbsp;</div>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
